@charset "utf-8";
/*  FAO: Food and Agriculture Organization of the United Nations, for a world without hunger
	Núcleo de Capacitación en Políticas Públicas
	This website is powered by Moodle
	Extensions are copyright of their respective owners.
	Information and contribution at https://moodle.org/ */
	
/* course body container */

/*body {
	background: #80d2dc;
background: -moz-linear-gradient(#19aec0 0%, #80d2dc 100%);
background: -webkit-linear-gradient(#19aec0 0%, #80d2dc 100%);
background: linear-gradient(#19aec0 0%, #80d2dc 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#19aec0",endColorstr="#80d2dc",GradientType=1);
	background-color: #80d2dc;
}*/
body {
	background: linear-gradient(to bottom, #89B247, #A5CC66);
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: #A5CC66;
}



p, td {
	font-family: 'Roboto', sans-serif;
	font-size: 1.0em;
	font-weight: normal;
	text-align: left;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 16px;
	margin-left: 0px;
	line-height: 1.5em;
	color: #ffffff;
}
ul, li {
	font-family: 'Roboto', sans-serif;
	font-size: 1.0em;
	text-align: left;
	color: #ffffff;
}
.container {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-bottom: 50px; 
}
.section {
	min-height: 560px;
	padding-top: 20px;
}
/* course content container */
.box {
	margin-bottom: 20px;
	padding: 30px 15px;

}
/* left and right navigation sticky buttons  */
#navbuttons {
	float: right;
	right: 0;
	margin-top: 5px;
	position: fixed;
	top: 85%;
	right: 100px;
	display: inline
}
#navbuttons .navbuttontext {
	float: left;
}
.navbutton {
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	background-color: #000;
	background-color: rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 1px #fff;
	-moz-box-shadow: 0 0 1px #fff;
	box-shadow: 0 0 1px #fff;
	padding: 8px 12px;
	font-size: 16px
}
/* back to the top sticky button */
.back-to-top [class^=icon-] {
	font-size: 3em
}
.back-to-top {
	position: fixed;
	top: 85%;
	right: 15px;
	display: none;
	text-align: center;
	font: 9px;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	background-color: #000;
	background-color: rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 1px #fff;
	-moz-box-shadow: 0 0 1px #fff;
	box-shadow: 0 0 1px #fff;
	padding: 5px 12px;
	color: #fff
}
.back-to-top:hover {
	text-decoration: none
}
.back-to-top a, .back-to-top a:visited {
	color: #fff !important
}
#marketing-spots {
	overflow: hidden
}
#marketing-spots .marketing-spot {
	background: #fff;
	padding: 3px 10px;
	border: 1px solid #e7e7e7;
	border-radius: 5px;
	margin-bottom: -99999px;
	padding-bottom: 99999px
}
.course-title {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	color: #fff;
	margin-top: 10px;
	float: right;
	width: 33%;
	text-align: right;
	font-weight: bold;
	text-shadow: 1px 1px 1px #094672;
}
.navbar-brand {
	font-size: 14px;
}
#header {
	display: none;
}

/* conditional when other devices screens */
@media screen and (min-width:768px) {
.box {
	margin-bottom: 20px;
	padding: 0px 0px;
}
#header {
	display: inline;
}
#header .fao-logo {
	display: inline;
	margin: 10px;
}
.navbar-header {
	display: none;
}
}
 @media screen and (min-width:1200px) {
.box:after {
	content: '';
	display: table;
	clear: both;
}
}

.navbar-default {
    background-color: rgba(255, 255, 255, .6);
    border-color: rgba(255, 255, 255, .5);
}

h1 {
  font-size: 1.6em;
  font-weight: Extra-Light;
  color: #fff;
  text-align: left;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #CCC;
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 3px;
  padding-left: 0px;
  line-height:normal;
}
h1 a:link, h1 a:visited {
  color: #069;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
h1 a:hover {
  color: #5897D0;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  color: #000;
  text-align: left;
  vertical-align: bottom;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #CCC;
  padding-top: 0px;
  padding-bottom: 3px;
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  font-style: normal;
  line-height:normal;
}
h2 a:link, h2 a:visited {
  color: #069;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
h2 a:hover {
  color: #5897D0;
}
h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.7em;
	font-weight: normal;
	color: #ffffff;
	text-align: left;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 25px;
	margin-left: 0px;
}
h4 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	font-weight: normal;
	color: #000;
	text-align: left;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	padding-bottom: 4px;
}
h4 a:link, h1 a:visited {
	color: #069;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
}
h5 {
	font-family:'Roboto', sans-serif;
	font-size: 1.4em;
	font-weight: 400;
	color: #fff;
	text-align: left;
	margin: 0px;
	padding: 0px;
	padding-bottom:6px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
}
h6 {
	font-family: 'Roboto', sans-serif;
	font-size: 0.9em;
	font-weight: normal;
	color: #333333;
	text-align: right;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #3a7b1d;
	line-height: 1.6em;
	padding: 0px;
	margin-top: 8px;
}
.ad1 {
  -webkit-animation-delay: 500ms;
}
.ad2 {
  -webkit-animation-delay: 1s;
}
.ad3 {
  -webkit-animation-delay: 1500ms;
}
.ad4 {
  -webkit-animation-delay: 2s;
}
.ad5 {
  -webkit-animation-delay: 2500ms;
}
.ad6 {
  -webkit-animation-delay: 3s;
}
.ad7 {
  -webkit-animation-delay: 3500ms;
}
.ad8 {
  -webkit-animation-delay: 4s;
}
.ad9 {
  -webkit-animation-delay: 4500ms;
}
.addiez {
  -webkit-animation-delay: 5s;
}
.ad11 {
  -webkit-animation-delay: 5500ms;
}
.ad12 {
  -webkit-animation-delay: 6s;
}
.ad13 {
  -webkit-animation-delay: 6500ms;
}
.ad14 {
  -webkit-animation-delay: 7s;
}
.ad15 {
  -webkit-animation-delay: 7500ms;
}
.ad16 {
  -webkit-animation-delay: 8s;
}
.ad17 {
  -webkit-animation-delay: 8500ms;
}
.ad18 {
  -webkit-animation-delay: 9s;
}
#footer {
	width: 100%;
	padding: 0px;
	float: left;
	height: 78px;
	margin-top: 20px;
	
}
#footer .logos_footer {
  margin: 18px 20px 20px 20px;
  float: left;
}

#navegacion {
  /* margin: 20px; */
  /*padding-bottom:100px;*/

  padding: 0px;
  float: right;
	position: relative;
	z-index: 20;
}
#bot_home {
  height: 39px;
  width: 39px;
  display: block;
  float:left;
  margin-right:10px;
}
#bot_home a:link, #bot_home a:visited  {
  height: 39px;
  width: 39px;
  display: block;
  background-image: url(../img/img_gen/bot-home.png);
  background-repeat: no-repeat;
  background-position: left top;
}
#bot_home a:hover  {
  background-image: url(../img/img_gen/bot-home.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}
#bot_prev {
  height: 39px;
  width: 39px;
  display: block;
  float:left;
  margin-right:10px;
}
/*#bot_prev a:link, #bot_prev a:visited  {
  height: 39px;
  width: 39px;
  display: block;
  background-image: url(../img/img_gen/bot-prev.png);
  background-repeat: no-repeat;
  background-position: left top;
}
#bot_prev a:hover  {
  background-image: url(../img/img_gen/bot-prev.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}*/
#bot_prev a:link, #bot_prev a:visited  {
  height: 39px;
  width: 39px;
  display: block;
  background-image: url(../svg/nav-arrow-prev.svg);
  background-repeat: no-repeat;
  background-position: left top;
	background-size: cover;
}
#bot_prev a:hover  {
  background-image: url(../svg/nav-arrow-prev.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
}
#bot_next {
  height: 39px;
  width: 39px;
  display: block;
  float:left
}
/*#bot_next a:link, #bot_next a:visited  {
  height: 39px;
  width: 39px;
  display: block;
  background-image: url(../img/img_gen/bot-next.png);
  background-repeat: no-repeat;
  background-position: left top;
}
#bot_next a:hover  {
  background-image: url(../img/img_gen/bot-next.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}*/
#bot_next a:link, #bot_next a:visited  {
  height: 39px;
  width: 39px;
  display: block;
  background-image: url(../svg/nav-arrow-next.svg);
  background-repeat: no-repeat;
  background-position: left top;
	background-size: cover;
}
#bot_next a:hover  {
  background-image: url(../svg/nav-arrow-next.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
}
#bot_prev .disabled, #bot_next .disabled{
  display: none !important;
}
